*{
    background-color: black;
}
h1{
    color: brown;
}
h2{
    color: brown;
}
li{
    color: wheat;
}
body{
    max-width:100vw;
   max-height:100vh;
   overflow:hidden
   
}
.sidebar {
    position: absolute;
    /* margin-bottom: 70px; */
    top: 0px;
   overflow-y:scroll;
   width:20%;
   height:100vh;

}
.sidebar::-webkit-scrollbar {
    display:none;             //this property is used to hide scroll bar
}
ul{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
    /* overflow: scroll; */
    /* position: absolute; */
    /* margin-top: 5px; */
}
.SIDE>ul{
    list-style: none;
    flex-direction: column;
    justify-content: space-between;
}
.SIDE>ul>li{
    /* margin: 5px; */
    margin-top: 5px;
    display: flex;
    justify-content: flex-start;
}

.Subscription{
    justify-content: flex-start;
    display: flex;
    margin-top: 50x;
}
#DOWN>ul{
    list-style: none;
    flex-direction: column;
    /* justify-content: space-between; */
}
#DOWN>ul>li{
    margin: 5px;
}
.Last>ul{
    flex-direction: column;
}
.Last>ul>li{
    margin: 5px;
    margin-top: 5px;
    display: flex;
    justify-content: flex-start;
    margin-top: 50x;
}
.videos>div {
    width:200px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    color:white;
}
.videos>p {
    line-break:auto;
    
}
.videos{
    overflow-y: scroll;
    height: 600px;
    width:70%;
    margin-right:0px !important;
    position:relative;
    left:450px;
    display: flex;
    gap:6rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    /* justify-content: start;*/
}
.nabar>ul>li.order{
    margin-top: 5px;
    /* order: 1;
    color:blueviolet; */
    
}
img{
    border-radius: 50%;
}
.Setting{
    border-radius: 50%;
    margin-left: 650px;
}
.searchbox{
    margin-left: 150px;
}
/* br{
    color: antiquewhite;
} */

span{
    width: max-content;
    color: white;
    /* align-items: flex-end; */
    /* justify-content: flex-end; */
    /* width:400px ; */
    /* height: 400px; */
}

li {
    display:flex;
    align-items:center;
    justify-content: center;
    margin-right: 300px;
    
}
.sub-bar{
    overflow: scroll;
    display: flex;
    margin-left: 400px;
}
.sub-bar::-webkit-scrollbar {
    display:none;

}
#DOWN>ul>li{
    margin-right: 250px;

}
.Last>ul>li{
    margin-right:250px ;
}
.navbar{
    margin-bottom: 8.5px;
    margin-left: 200px;
}
/* #left{
    overflow: scroll;
    */
/* } */
